include RELEASE-VERSION
include version.py
include setup.py
include paver-minilib.zip
recursive-include arduino_library_template *
recursive-exclude arduino_library_template *.pyc
recursive-exclude arduino_library_template *~
